<div class="span4">
    <%= link_to(image_tag(menu.mimage.url(:thumb)), 
        menu.mimage.url(:original), :class => "thumbnail") %>
    <p class="invitation-title">
        <%= link_to "#{menu.name}", menu_path(menu) %>
    </p>
    <p class="invitation-description">
        <%= link_to "#{menu.description}", menu_path(menu) %>
    </p>
</div>