<div class="span6 assorted-items-title"><p>MATCHING ITEMS</p></div>
<div class="span7 assorted-items">
    <%= render 'invitation_rsvps' %>
    <%= render 'invitation_menus' %>
    <%= render 'invitation_thank_you_cards' %>
</div>