<div class="separator matching-items">
    <h4 class="floatL">Escort Cards</h4>
    <div class="floatR dropdown">
        <%= collection_select @invitation.to_name('escort-cards'),
                                :invitation_pricing_id,
                                InvitationPricing.price_dropdown_by_cat('Escort Cards Flat 2 x 3 1/2'),
                                :id, :quantity_and_price,
                                {prompt: "None"},
                                { data:
                                    {
                                        get_url: "#{invitation_pricings_path}",
                                        price: 0
                                    },
                                    class: 'price'
                                } %>
    </div>
</div>