<div class="separate">
    <span class="value">Subtotal for 
        <span class="currentQuantity"></span>
        Wedding Invitations
    </span>
    <span class="f-total floatR"></span>
    <span class="finalPiece" style="width: 30px;"></span>
</div>