<h1>Styles</h1>
<div class="row">
    <div class="span8 offset2">
        <p><%= link_to "New Color", new_color_path, class: 'btn btn-large btn-primary' %></p>
        <%= render @colors %>
    </div>
</div>
